
.offer__composition {
    position: relative;

    
}

.composition__img {
    width: 91px;
    height: 91px;


    @include tablets {
        display: none;
    }
}

.offer__modal-wrapper {
    position: absolute;
    left: 92px;
    top: 0;
    width: 273px;
    background: #fff;
    opacity: .8;
    border-radius: 4px;
    display: none;
}

.offer__modal {
    padding: 30px;
    color: #000;
}

.modal{
    &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
      &:last-child {
          margin-bottom: 0;
      }
    }

    &__composition {
        flex: 1;
        flex-wrap: wrap;
        font-weight: 500;
    }

    &__img-wrapper {
        margin-right: 21px;
    }

    &__img {
        width: 30px;
        height: 30px;
    }
}

.offer__composition:hover .offer__modal-wrapper {
    display: block;
}

.offer__composition:active .offer__modal-wrapper {
    display: block;
}