.menu-section {
    background: #98b3af;
    position: relative;
    color: #fff;

    &::after {
        content: url(../img/menu/Himbeere.png);
        position: absolute;
        left: 5%;
        top: -7%;
    }
  }

.menu {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.menu {
    display: flex;
    height: 100%;
    justify-content: flex-end;


    &__title {
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        position: absolute;
        top: 109px;
        left: 12%;

        @include tablets {
            left: 5%;
        }

        @include phones {
            font-size: 40px;
        }
    }
}

.snacks {
    &__list {
        display: flex;
        height: 100%;
    }

    &__item {
        position: relative;
        height: 100%;
        cursor: pointer;
        display: flex;
    }

    &__title-wrapper {
        position: relative;
        width: 102px;
        height: 100%;
        &--one {
            background: #ace3ec;
        }

        &--two {
            background:  #7199b9;
        }

        &--three {
            background: #5486a7;
        }

        @include phones {
            width: 90px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        left: 10px;
        line-height: 80px;
        transform: rotateZ(-90deg);
        white-space: nowrap;
        transform-origin: 0 0;

        @include phones {
            font-size: 40px;
        }
    }

    &__description {
        background: #333537e6;
        max-width: 0;
        opacity: 0;
        transition: all .4s ease-in-out;

        &--active {
            max-width: 524px;
            opacity: .9;
            padding: 30px 80px 30px 40px;
            font-size: 16px;
            line-height: 1.6;
            font-weight: 400;

            @include tablets {
                max-width: calc(100% - 102px);
                padding: 38px 53px 38px 38px;
            }

            @include phones {
                padding: 35px;
            }
        }
    }
}