.offer-section {
    background: #F8FAF9;
    display: flex;
    flex-direction: initial;
    align-items: center;
    padding: 0 5%;
}

.offer {
    .bx-wrapper {
        background: transparent;
        border: none;
        box-shadow: none;
    }

    

    &__item {
        display: flex;
        @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
    }

    &__img-wrapper {
        margin-right: rem(30px);
        align-self: center;

        @include tablets {
            margin-right: 0;
        }
    }

    &__img {
        width: 100%;
    }

    &__content {
        width: 50%;
        
        @include tablets {
            width: 100%;
        }
    }
    
    &__row {
        margin-bottom: rem(23px);
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &:last-child {
            margin-bottom: 0;
        }

        @include tablets {
            justify-content: center;
            align-items: center;
        }

        &__elem {
            margin-right: rem(44px);

            &:last-child {
                margin-right: 0;
            }

            &__what--br {
                font-weight: 700;
                color: #000;
            }
        }
    }

    &__subtitle {
        font-size: rem(36px);
        font-weight: 700;
        text-transform: uppercase;
        color: #292929;
        line-height: 1.1;

        @include tablets {
            font-size: rem(30px);
        }
    }

    &__description {
        display: flex;
    }

    &__price {
        font-size: rem(60px);
        font-weight: 300;
        color: #151515;
    }
}

.btn-slider {
    width: 14px;
    height: 27px;
    cursor: pointer;

    @include tablets {
        transform: translateY(-600%);

    }
}

.offer__composition {
    position: relative;
}

.composition__img {
    width: 91px;
    height: 91px;


    @include tablets {
        display: none;
    }
}
