.player-section {
    background: #F8FAF9;
}

.player-section__container {
    display: flex;
    justify-content: center;
}

.player {
    
    width: 662px;
    height: 392px;

    &__title {
        margin-bottom: 30px;
    }

    &__wrapper {
        height: 357px;
    }

    &__controls {
        background: #404040;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px;
        z-index: 50;
    }
}

.player__splash {
    background: url(../img/player/active-btn.svg);
    width: 75px;
    height: 110px;
    display: none;
}

.active {
    .player__splash {
        display: block;
    }
}

.player__start {
    width: 12px;
    height: 16px;
    background: url(../img/player/play-btn.svg) center no-repeat;
    border: none;
    cursor: pointer;
    &:active {
        outline: none;
    }
}

.paused {
    width: 12px;
    height: 16px;
    background: url(../img/player/play-btn.svg) center no-repeat;
    border: none;
    cursor: pointer;
    &:active {
        outline: none;
    }
}

.player__playback {
    width: 445px;
    height: 4px;
    background: #626262;
    position: relative;
}

.player__playback-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    background: url(../../img/player/playback-btn.svg) no-repeat;
    border: none;
    top: -80%;
    cursor: pointer;
    &:active {
        outline: none;
    }
}